
body {
    background-color: #26282A;
    color: aliceblue;
}
.container{
    background-color: #003333;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;

}
label{
    margin: 10px;
    margin-left: 20px;
    font-size: 25px;
}
input{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
    background-color: #003333;
    color: aliceblue;
}
.select{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

}
.From{
    padding: 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: larger;

}
.To{
    padding: 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: larger;
}
button{
    background-color: #424649;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 200px;
    margin: auto;
    font-size: larger;
}
button:hover{
    background-color: #26282A;
    cursor: pointer;
}
.output{
    margin: auto;
}